{% set modalSizing = '' %}
{% if modalWider is defined and modalWider %}
    {% set modalSizing = 'modal-lg' %}
{% endif %}
{% if modalXL is defined and modalXL %}
    {% set modalSizing = 'modal-xl' %}
{% endif %}
<div class="modal fade modal-form" id="{{ instanceId }}-form-modal">
    <div class="modal-dialog {{ modalSizing }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% include '@CodyasToolbox/templates/mt2/icons/edit.html.twig' with {'extraClass' : 'svg-icon-2'} %}
                    {{ (label~" management") | trans }}
                </h5>
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    {% include '@CodyasToolbox/templates/mt2/icons/close.html.twig' with {'extraClass' : 'svg-icon-2'} %}
                </div>
                <!--end::Close-->
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    <i class="fa fa-close"></i> {{ 'Cancel' | trans }}
                </button>
                <button type="button" class="btn btn-primary btn-flat btn-save">
                    <i class="fa fa-save"></i> {{ 'Save' | trans }}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-details" id="{{ instanceId }}-details-modal">
    <div class="modal-dialog {{ modalSizing }}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><i class="fa fa-file"></i> {{ (label~" details") | trans }}</h5>
            <!--begin::Close-->
            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                {% include '@CodyasToolbox/templates/mt2/icons/close.html.twig' with {'extraClass' : 'svg-icon-2'} %}
            </div>
            <!--end::Close-->

        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                <i class="fa fa-close"></i> {{ 'Close' | trans }}
            </button>
        </div>
    </div>
</div>
</div>

