{% set logs = get_record_logs(record) %}
{% import _self as self %}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>User</th>
            <th>Action</th>
            <th>Date of action</th>
            <th>Changes made</th>
        </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ log.username }}</td>
            <td>{{ log.action | upper }}</td>
            <td>{{ log.loggedAt | date(constant('App\\Constants::DATE_TIME_FORMAT')) }}</td>
            <td>{{ self.renderChanges(log.data) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% macro renderChanges(changes) %}
    {% set changeSet = changes | reverse %}
    <ul class="list-unstyled m-0 p-0">
        {% for key, change in changeSet %}
            {% if instanceof(change, '\\DateTime') %}
                <li>{{ ('app.log_keys.' ~ key) | trans }}: {{ change | date(constant('App\\Constants::DATE_FORMAT')) }}</li>
            {% else %}
                <li>{{ ('app.log_keys.' ~ key) | trans }}: {{ change }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
